@font-face {
  font-family: 'eb_garamonditalic';
  src: url('ebgaramond-italic-variablefont_wght-webfont.woff2') format('woff2'),
       url('ebgaramond-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eb_garamondregular';
  src: url('ebgaramond-variablefont_wght-webfont.woff2') format('woff2'),
       url('ebgaramond-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 12fr;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 12;


  display: grid;
  gap: 70px;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 12;

}

.sidebar .logo {
  font-family: Helvetica, sans-serif;
}

.sidebar ul {
  list-style-type: none;
}