@font-face {
  font-family: 'eb_garamonditalic';
  src: url('fonts/ebgaramond-italic-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/ebgaramond-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eb_garamondregular';
  src: url('fonts/ebgaramond-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/ebgaramond-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.container div {
  font-family: "eb_garamondregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* All stylings for the sidebar */
.sidebar {
  padding: 12px;

  grid-column: 1 / 2;

  display: grid;
  grid-template-rows: 1fr 3fr 2fr 3fr;
  gap: 16px;

  background-color: #4D5061;
  color: white;
}

.sidebar .logo {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
}

.logo ul,
.nav-functions ul,
.nav-misc ul {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4px;
}

.logo ul li,
.nav-functions ul li
.nav-misc ul li {
  justify-self: start;
  align-self: center;
}

/* All stylings for the main body */
.main-body {
  grid-column: 2 / 3;

  display: grid;
  grid-template-rows: 1fr 5fr;
}

/* Styling for header */
.header {
  padding: 18px;
  padding-left: 28px;
  background-color: white;

  grid-template-rows: 1fr 2fr;

  display: grid;
}

.header-top {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 8fr 3fr;
}

/* Styling for search input field */
.search-div {
  display: flex;
  align-items: center;
}

.search-icon {
  margin: 0 6px;
}

input[type=text] {
  padding: 10px;
  margin: 6px 0;
  border: 0;
  border-radius: 14px;
  background-color: #E8E8E8;
  width: 70%;
}

.header-top-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
}

.notifs {
  display: flex;
  align-items: center;

  justify-self: center;
}

/* Styling for profile pictures */
.small-profile-pic-container {
  background-image: url("img/armin-arlelt-1.jpg");
  background-size: 60px;
  background-position: 55% 0%;
  height: 42px;
  width: 42px;
  border-radius: 50%;

  justify-self: center;
}

.profile-name {
  display: flex;
  align-items: center;

  font-weight: bold;
}

/* Header bottom */
.header-bottom {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.header-bottom-left {
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 6fr;
}

.big-profile-pic-container {
  background-image: url("img/armin-arlelt-1.jpg");
  background-size: 90px;
  background-position: 55% 0%;
  height: 63px;
  width: 63px;
  border-radius: 50%;

  justify-self: center;
}

.header-greeting-text {
  align-self: center;
}

div .header-hi-there-text {
  font-size: 16px;
  font-weight: bold;
}

div .header-name-text {
  font-size: 22px;
  font-weight: bold;
}

.header-bottom-right {
  align-self: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-btn {
  align-self: center;
  height: 30px;
  width: 90px;

  border-radius: 16px;
  border-style: none;

  background-color: #4D5061;
  color: white;
}